.container {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-primary);
    padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

    &.info {
        border-color: var(--color-accent);
    }

    &.danger {
        border-color: var(--color-danger);
    }

    &.succes {
        border-color: var(--color-succes);
    }

    .title {
        display: flex;
        align-items: center;

        .icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-extra-small);
            font-size: var(--font-size-large);

            &.info {
                color: var(--color-accent);
            }

            &.danger {
                color: var(--color-danger);
            }

            &.success {
                color: var(--color-success);
            }
        }

        .text {
            flex-grow: 1;
        }
    }

    .message {
        display: flex;
        flex-direction: column;
    }
}
