.row-container {
    display: flex;
    flex-direction: row;
    padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

    .row-item {
        flex-basis: calc(100% / 3);
        flex-shrink: 0;
        padding: var(--spacing-medium);
    }
}
