.dashboard {
    display: flex;

    .sidebar {
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: var(--width-sidebar-max);
        // min-width: var(--width-sidebar-min);
        // max-width: var(--width-sidebar-max);

        >.header {
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            >.heading {
                padding: var(--spacing-small) var(--spacing-large);
            }

            >.description {
                display: -webkit-box;
                margin: var(--spacing-small) var(--spacing-large);
                overflow: hidden;
                text-align: justify;
                color: var(--color-text-label);
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }

        .checkbox-one {
            margin: var(--spacing-small);
        }

        .details {
            padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) calc(var(--spacing-large) - var(--spacing-medium));
        }

        >.actions {
            padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

            .start-button {
                margin: var(--spacing-small);
            }
        }

        .info {
            margin: calc(var(--spacing-medium) - var(--spacing-small)) var(--spacing-large);
            color: var(--color-text-label);
        }

        .link {
            margin: calc(var(--spacing-medium) - var(--spacing-small)) var(--spacing-large);
        }

        .progress {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }

            .progress-bar {
                margin: var(--spacing-small) var(--spacing-large);
            }

            .task-list {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-medium));
            }

            >.actions {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

                .retry-button {
                    margin: var(--spacing-small);
                }
            }
        }

        .conflicts {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }

            >.actions {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

                .resolve-conflict-button {
                    margin: var(--spacing-small);
                }
            }

            .progress-bar {
                margin: 0 var(--spacing-large);
            }

            .conflict-status {
                padding: var(--spacing-medium) calc(var(--spacing-large) - var(--spacing-extra-small));
            }
        }

        .resolution {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            >.actions {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

                .push-to-upstream-button {
                    margin: var(--spacing-small);
                }
            }
        }
    }

    .map {
        position: relative;
        flex-grow: 1;
    }

    .legend {
        position: absolute;
        bottom: var(--spacing-medium);
        left: calc(var(--width-sidebar-max) + var(--spacing-medium));
        z-index: 11;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-small);

        .legend-item {
            display: flex;
            align-items: center;
            padding: var(--spacing-extra-small);

            .legend-color {
                display: inline-block;
                margin-right: var(--spacing-small);
                border: 1px solid black;
                border-radius: 50%;
                width: 10px;
                height: 10px;
            }
        }
    }

    /*
    .message {
        display: flex;
        flex-direction: column;

        .icon {
            font-size: var(--width-icon-extra-large);
        }
    }
    */
}
