.dashboard {
    .map {
        height: 80vh;
    }
    /*
    .message {
        display: flex;
        flex-direction: column;

        .icon {
            font-size: var(--width-icon-extra-large);
        }
    }
    */
}
