.dashboard {
    display: flex;

    .sidebar {
        border-right: var(--width-separator-thin) solid var(--color-separator);
        width: var(--width-sidebar);
        min-width: var(--width-sidebar-min);
        max-width: var(--width-sidebar-max);

        >.header {
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            >.heading {
                padding: var(--spacing-small) var(--spacing-large);
            }

            >.description {
                display: -webkit-box;
                margin: var(--spacing-small) var(--spacing-large);
                overflow: hidden;
                text-align: justify;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                color: var(--color-text-label);
            }
        }

        .details {
            padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) calc(var(--spacing-large) - var(--spacing-medium));
        }

        >.actions {
            padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

            .start-button {
                margin: var(--spacing-small);
            }
        }

        .info {
            margin: calc(var(--spacing-medium) - var(--spacing-small)) var(--spacing-large);
            color: var(--color-text-label);
        }

        .progress {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }

            .progress-bar {
                margin: 0 var(--spacing-large);
            }

            .task-list {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-medium));
            }

            >.actions {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

                .retry-button {
                    margin: var(--spacing-small);
                }
            }
        }

        .conflicts {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }

            >.actions {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

                .resolve-conflict-button {
                    margin: var(--spacing-small);
                }
            }

            .progress-bar {
                margin: 0 var(--spacing-large);
            }

            .conflict-status {
                display: flex;
                padding: var(--spacing-medium) calc(var(--spacing-large) - var(--spacing-extra-small));

                .resolved-conflicts {
                    padding: 0 var(--spacing-extra-small);
                }

                .separator {
                    padding: 0 var(--spacing-extra-small);
                }

                .total-conflicts {
                    padding: 0 var(--spacing-extra-small);
                }

                .post-label {
                    padding: 0 var(--spacing-extra-small);
                }
            }
        }

        .resolution {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            >.actions {
                padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-small));

                .push-to-upstream-button {
                    margin: var(--spacing-small);
                }
            }
        }
    }

    .map {
        flex-grow: 1;
    }

    /*
    .message {
        display: flex;
        flex-direction: column;

        .icon {
            font-size: var(--width-icon-extra-large);
        }
    }
    */
}
