.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--width-separator-medium) solid transparent;
    cursor: pointer;
    padding: 0 var(--spacing-medium);
    text-decoration: none;
    color: inherit;

    .menu-title {
        text-align: center;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    &.active {
        border-bottom-color: var(--color-text-on-navbar);
        color: var(--color-text-on-navbar);
    }

    &:hover {
        text-decoration: none;
        color: var(--color-text-on-navbar-hover);
    }

    &.disabled {
        color: var(--color-text-disabled);
    }
}
