.conflict-resolution {
    display: flex;
    overflow: auto;

    .sidebar {
        display: flex;
        flex-direction: column;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: var(--width-sidebar);
        min-width: var(--width-sidebar-min);
        max-width: var(--width-sidebar-max);
        overflow: auto;

        >.header {
            flex-shrink: 0;

            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }

            .details {
                padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;

                .progress-bar {
                    margin: var(--spacing-extra-small) var(--spacing-large);
                }

                .conflict-status {
                    padding: var(--spacing-extra-small) calc(var(--spacing-large) - var(--spacing-extra-small));
                }
            }
        }

        >.conflict-header {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-large);
        }

        >.conflict-list {
            flex-grow: 1;
            padding: var(--spacing-small) calc(var(--spacing-large) - var(--spacing-medium));
            overflow: auto;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .header-container {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-large);

            .title {
                flex-grow: 1;
            }

            .actions {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

                >* {
                    margin: var(--spacing-small);
                }
            }
        }

        .info-container {
            flex-shrink: 0;
            padding: var(--spacing-extra-small) var(--spacing-large);

            .progress-bar {
                margin: var(--spacing-extra-small) 0;
                width: 100%;
                max-width: 256px;
            }

            .conflict-status {
                padding: var(--spacing-extra-small) 0;
            }
        }

        .title-row {
            flex-shrink: 0;
        }

        .row-list {
            flex-grow: 1;
            overflow: auto;

            .map-container {
                position: relative;
            }
        }

        .tag-container {
            display: flex;
        }
    }
}
