:root {
    --progress-bar-max-width: 256px;
}

.conflict-resolution {
    display: flex;
    overflow: auto;

    .sidebar {
        display: flex;
        flex-direction: column;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: var(--width-sidebar);
        min-width: var(--width-sidebar-min);
        max-width: var(--width-sidebar-max);
        overflow: auto;

        >.header {
            flex-shrink: 0;

            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }

            .details {
                padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;

                .progress-bar {
                    margin: var(--spacing-extra-small) var(--spacing-large);
                }

                .conflict-status {
                    padding: var(--spacing-extra-small) calc(var(--spacing-large) - var(--spacing-extra-small));
                }
            }
        }

        >.conflict-header {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-large);
        }

        >.conflict-list {
            flex-grow: 1;
            padding: var(--spacing-small) calc(var(--spacing-large) - var(--spacing-medium));
            overflow: auto;
        }
    }

    .content {
        flex-grow: 1;
    }
}
