.configuration {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: var(--spacing-large);
    overflow-y: auto;

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: 800px;
        overflow-y: auto;

        .inputs {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 0 var(--spacing-large) var(--spacing-large);
            overflow-y: auto;

            .block {
                .input {
                    margin: var(--spacing-medium);
                }

                .header {
                    position: sticky;
                    top: 0;
                    background-color: var(--color-foreground);
                    padding: var(--spacing-large) var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
                    font-weight: var(--font-weight-bold);
                }
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-large);
        }
    }
}
